:root {
  // --- Base Colors ---
  --c-black: #000000;
  --c-black_2: #333333;
  --c-white: #ffffff;
  --c-orange: #e66337;

  // --- Semantic Colors ---
  --c-primary: var(--c-white);
  --c-secondary: var(--c-black);
  --c-accent: var(--c-orange);
  --c-text: var(--c-black_2);

  --c-body: var(--c-text);
  --c-body-bg: var(--c-primary);
}
