// --- Base Colors ---
$c-black: #000000;
$c-black: #333333;
$c-white: #ffffff;
$c-orange: #e66337;

// --- Semantic Colors ---
$c-primary: $c-white;
$c-secondary: $c-black;
$c-accent: $c-orange;
$c-text: $c-black;

$c-body: $c-text;
$c-body-bg: $c-primary;
