:root {
  // 1rem = 10px
  font-size: 62.5%;

  // --- Font Families ---
  --arial: Arial, Helvetica, sans-serif;

  // --- Semantic Font Families ---
  --f-body: var(--arial);

  // --- Font Sizes ---
  --fs-body: 1.6rem;
  --lh-body: 2.1rem;
}
