// --- Fonts ---
// Arial
$arial: Arial, Helvetica, sans-serif;

// --- Semantic Fonts ---
$f-body: $arial;

// --- Font Sizes ---
:root {
  font-size: 62.5%; // 1rem = 10px
}

$fs-body: 2.4rem;
$lh-body: 3.1rem;
